* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #FAFAFA;
}

.white {
  background-color: white;
  height: auto;

}

.bgimage {
  position: fixed;
  top: 0;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.18;
}

ul {
  list-style: none;
}
.flashed {
  text-align: center;
  font-size: 200%;
  font-family: 'Jost', sans-serif;
  color: red;

}




/* Contact Page */
.contact-container {
  position: relative;
  top: 5%;
  width: 90%;
  height: 85%;
  margin: 0 auto;
}

#black {
  color: black;
}

.contact-bg {
  position: relative;
  padding-top: 3%;
  background-color: pink;
  padding-bottom: 0;
  margin: 0;
  height: 78%;
}



/* Samples Page */
.navbackground {
  height: 60px;
  background-color: #333;
  font-size: 300%;
  position: relative;
}

.samplepagetext {
  font-size: 240%;
  color: black;
  text-align: center;
  padding-top: 3%;
  background-color: #FAFAFA;
  font-family: 'Anton', sans-serif;
  opacity: 0.8;
}


/* Contact Form */

.contact-index {
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
  background-color: none;
  height: 70%;
  display: flex;
}

.summary {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 200 !important;
  color: #333;
  font-size: 200%;
}

.bigger {
  font-size: 150% !important;
  font-weight: bold;
}


.summary > div {
  margin-top: 80px;
  padding-bottom: 14%;
  font-size: 60% !important;
  font-family: 'Work Sans', sans-serif;
}

.summary > div > div {
  margin-bottom: 50px;
  margin-top: 20px;
}


.contact-text {
  color: #333;
  opacity: 0.8;
  font-size: 200%;
  letter-spacing: 2px;
  font-family: 'Anton', sans-serif;
  margin-bottom: 20px;
  text-align: left;

}

#contact2 {
  font-size: 100%;
}


.contact-index > div {
  padding: 15px;
  width: 50%;
  height: 100%;
  padding-bottom: 20px;
}

.form-group {
  width: 75%;


}

input[type=text], textarea:focus {
  outline: none;
}



input[type=text], textarea{
  height: 9%;
  width: 100%;
  padding: 12px;
  border: 2px solid #333;
  opacity: 0.8;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 15px;
  font-family: 'Anton', sans-serif;
}

textarea {
  height: 25%;
}

/* Style the submit button */
input[type=submit] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  font-family: 'Anton', sans-serif;
  margin-bottom: 30px;
}

.copyright {
  position: relative;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  background: #333;
  opacity: 1 !important;
  color: white;
  font-family: 'Anton', sans-serif;
}



/* Banner */
.banner {
  position: relative;
  height: 100%;
  background-color: black;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.bgimage {
  position: fixed;
  top: 0;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.15;
}


.bannernote {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  text-align: center;
  padding: 18px;
  font-size: 640%;
  color: white;
  letter-spacing: 6px;
  font-weight: bold;
  opacity: 0.9;
  font-family: 'Source Sans Pro', sans-serif;
}

#description {
  font-size: 25% !important;
  font-weight: normal;
  letter-spacing: 0;
  word-spacing: 4px;
  font-family: 'Jost', sans-serif;
}

#desc {
  display: none;
  font-size: 35% !important;
  font-weight: normal;
  letter-spacing: 0;
  word-spacing: 4px;
  font-family: 'Jost', sans-serif;
  padding-bottom: 18px;
}



/* Portfolio */

.portfolio {
  position: relative;
  background-color: #FAFAFA;
  color: white;
  height: 101px;
  width: 100%;
  margin: 0 auto;
}

.portfolio-text {
  padding-top: 24px;
  width: auto;
  text-align: center;
  margin: auto;
  font-size: 350%;
  opacity: 0.8;
  color: #333;
  letter-spacing: 2px;
  font-family: 'Anton', sans-serif;
}

/* SAMPLES */


.imagecontainer {
  position: relative;
  text-align: center;
  top: 30px;
}

.sample {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  background-color: #FAFAFA;
}


.sample > div {
  border: 1px solid #333;
  width: 50%;
  margin: 10px;
  padding: 0;
  height: 100%;
  background-color: #FAFAFA;
}



.sample-text {
  color: #333;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.p {
  position: relative;
  top: 20px;
  letter-spacing: 2px;
}

.readmore {
  position: relative;
  top: 25px;
}

.viewmore {
  position: relative;
  top: 40px;
  color: gray;
  font-weight: bold;
}

.categories {
  margin-bottom: 12px;
  color: #DB7093;
  font-weight: bold;
}

.readmore a {
  text-decoration: none !important;
  color: gray;
}

.readmore a:hover {
  font-size: 130%;
}

.readmore a:visited {
  text-decoration: none;
  color: gray;
}

.readmore  a.active {
  text-decoration: none;
  color: gray;
}

.viewmore a {
  text-decoration: none !important;
  color: gray;
}

.viewmore a:hover {
  font-size: 130%;
}

.viewmore a:visited {
  text-decoration: none;
  color: gray;
}

.viewmore  a.active {
  text-decoration: none;
  color: gray;
}



/* RESPONSIVENESS */

@media screen and (min-width: 900px) {
  .flex {
    display: flex;
  }
  .sample {
    width: 50%;
  }
  .sample > div {
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
    height: 100%;
  }
}


@media screen and (max-width: 1017px) {

  .sample > div {
    width: 100%;
    margin: 0 auto;
  }
  .bannernote {
    font-size: 400% !important;
  }
}


@media screen and (max-width: 650px) {
  .summary {
    font-size: 150% !important;
  }
}



@media screen and (max-width: 560px) {
  .sample {
    height: 640px;
  }
  .banner {
    height: 100%;
  }
  .bannernote {
    position: absolute;
    left: 3%;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 300% !important;
    color: white;
    opacity: 0.8;
  }
}


@media screen and (max-width: 450px) {
  .banner {
    height: 100%;
  }
  .bannernote {
    font-size: 350% !important;
  }
  .bgimage {
    width: 96%;

  }
  .contact-index {
    flex-wrap: wrap;
  }
  .contact-index > div {
    width: 100%;
  }
  .sample, .a {
    100%;
    margin: 0 auto;
  }
  .summary {
    display: none;
  }
  .form-group {
    margin: 0 auto;
  }
  .contact-text {
    text-align: center;
  }
  .contact-container {
    width: 100%;
    margin: 0 auto;
  }
  .contact-page {
    width: 75%;
    margin: 0 auto;
  }
  #description {
    display: none;
  }
  #desc {
    display: block;
  }

}


@media screen and (max-width: 350px) {
  img {
    width: 250px;
  }
}




/* NAVIGATION LAYOUT.HTML %/

/* Add a black background color to the top navigation */
.topnav {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: #none;
  overflow: hidden;
  z-index: 2;
  color: white;
}


.topnav-right {
  float: right;
  padding-right: 40px;
  padding-top: 5px;
  letter-spacing: 2px;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
}

.topnav-left {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  margin: 0;
  font-size: 200%;
  font-weight: bold;
  opacity: 0.9;
  letter-spacing: 2px;
  /*font-family: 'Anton', sans-serif;*/
  font-family: 'Dancing Script', cursive;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-right: 30px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}




/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
  .topnav a {display: none;}
  .topnav-left {font-size: 200%; margin-top: 8px;}
  .topnav a.icon {
    margin-top: 10px;
    right: 0;
    position: fixed;
    display: block;
    color: black;
    background-color: #ddd;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {
  .topnav.responsive {
    position: fixed;
    background-color: gray;
    opacity: 0.9;
    color: black;
  }
  .topnav.responsive a.icon {
    position: fixed;
    right: 0;
  }
  .topnav.responsive a {
    top: 0;
    float: none;
    display: block;
    text-align: left;
    position: relative;
    right: 120%;
    color: black;
  }

}
