<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/styles.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

      {% if title %}
      <title>{{ title }} - JHOPORTERWRITES</title>
      {% else %}
      <title>Welcome to JHOPORTERWRITES</title>
      {% endif %}
    </head>


    <body>
      <div class="topnav" id="myTopnav">
        <div class="topnav-left">Jho Porter Writes</div>
        <div class="topnav-right">
          <a href="{{ url_for('blog') }}">Home</a>
        </div>

      </div>





        <div class="navbackground"></div>
        {% block content %}{% endblock %}

        

    </body>
    <footer>
      <div class="copyright">
          © 2020 by Jho Porter
      </div>
    </footer>
</html>
