{% extends "blog-layout.html" %}

{% block content %}

<div class="article-container">
  <div class="article">
    <div class="admin">
      <div><img src="/static/admin.png" class="admin-image"></div>
      <div class="article-admin-text">
        <span>Admin</span>
        <span class="date">May 14</span>
      </div>
    </div>
    <div class="article-title">Ordering Takeout in a Pandemic: A Guide</div>
    <div class="article-category">Category: Coronavirus</div>
    <div class="image-container">
      <img src="/static/pizza.png" class="article-image">
      <div class="caption">Image by <a href="https://pixabay.com/users/mac231-5473271/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4457006" target="_blank">mac231</a></div>
    </div>
    <div class="article-body">
      <p>Since quarantine began several weeks ago, many people have expressed their concerns about ordering takeout. Is it safe? Is it ethical?</p>

      <p>Whether it’s ethical depends on how you view things—do you think it’s selfish to put other people at risk in exchange for a chance to enjoy your favorite restaurant dishes? Or are you helping restaurants and food delivery companies out by continuing to order takeout in these trying times?</p>

      <p>Whatever your stand is, people aren’t going to stop ordering takeout so we might as well do it right—for our safety as well as the safety of everyone working to make sure our food gets to us.</p>

      <p>So let’s tackle the main question here: Is it really safe? Short answer—yes. Long answer—it depends on various factors.</p>

      <p>According to the CDC, <a href="https://www.cdc.gov/coronavirus/2019-ncov/faq.html" target="_blank">there's no evidence</a> to suggest that food can transmit the new coronavirus. Food experts have also collectively agreed that it’s safe to eat food prepared at a restaurant. Even <a href="https://www.npr.org/sections/health-shots/2020/04/08/822903487/how-safe-is-it-to-eat-take-out" target="_blank">Dr. Donald Schaffner agrees</a>. He’s a <a href="https://foodsci.rutgers.edu/schaffner/" target="_blank">food microbiologist and renowned professor</a> at Rutgers University who specializes in Food Science.</p>

      <p>"I know people are worried, but from what we know currently about the virus, it's safe to eat food prepared at restaurants so long as you take the proper precautions — in particular hand-washing," says Dr. Schaffner.</p>

      <p>However, hand-washing doesn’t completely eliminate the risks.</p>

      <p>“Hand washing is a good thing to do. We should definitely do it, but depending on your technique, what kind of microorganism and what kind of soap you’re using, washing your hands will give you about a 90- to 99-percent reduction in the concentration of micro-organisms on your hands,” <a href="https://modernfarmer.com/2020/04/what-a-food-microbiologist-wants-you-to-know-about-covid-19/" target="_blank">Dr. Schaffner explained</a>.</p>

      <p>Fortunately, there are steps we can take to further protect ourselves from COVID-19. Food expert J. Kenji López-Alt has put together a comprehensive guide to food safety in the middle of coronavirus. With the help of food safety specialist Ben Chapman, Columbia University virologist Dr. Angela Rasmussen, and infectious disease epidemiologist Dr. Saskia Popescu, López-Alt was able to publish a scientifically accurate <a href=" https://www.seriouseats.com/2020/03/food-safety-and-coronavirus-a-comprehensive-guide.html" target="_blank">food safety guide on Serious Eats.</a></p>

      <p>The article is a long read. It’s definitely worth it, but if you’re like some of us whose attention span can mostly only handle the average length of a tweet, no worries. Below is a shortened and simplified version.</p>

      <h2>SARS-Cov-2 is a respiratory virus that primarily spreads from person to person.</h2>

      <p>You could also catch it if your hand touched a recently contaminated surface, picked up the virus and transferred it to your eyes, nose or mouth. The virus is believed to stay for up to 24 hours on cardboard and up to three days on plastic. This is why it’s important that you transfer your food to a clean container once it’s delivered. But don’t stop there—remember to wash your hands right after and avoid touching your face until you are done eating and can wash your hands again. Using clean silverware to eat your food is also preferable.</p>

      <h2>There’s no evidence to support that you can get infected by eating contaminated food.</h2>

      <p>Previous coronavirus outbreaks showed no evidence of this as well. While we currently don’t know how long coronavirus can stay on food, it has been shown to break down faster on cardboard and other organic surfaces. However, just because there is no evidence doesn’t mean it has never happened. It always pays to be more careful. If you’re not comfortable with eating takeout food, it’s better to avoid it. Peace of mind is priceless.</p>

      <h2>Being within close proximity to other people puts you at a higher risk than takeout food itself.</h2>

      <p>No matter what you’re doing, you really have to maintain a six-feet distance between you and other people. This can’t be stressed enough. Know that it’s harder to do if you’re picking your order up as there might be other people at the restaurant who are picking up their orders as well. Having your food delivered is a safer option, but only if you practice social distancing.</p>

      <h2>If you’re still concerned about the safety of your takeout food, just reheat it before eating.</h2>

      <p>The temperature and time required to kill the coronavirus hasn’t been thoroughly researched. But experts believe that your food should be safe to eat if the internal temperature <a href="https://europepmc.org/article/med/15350737" target="_blank">reaches 149°F or 65°C</a> and stays that way for at least three minutes. If you’re reheating solid food that hasn’t been cut, it may be sufficient to reheat just the exterior of the food as it’s highly unlikely that the virus has penetrated the inside.</p>

      <p>Ordering takeout has, in some ways, become a luxury in our current times. We’ll have to be very vigilant and smart if we want to continue enjoying this service. And we shouldn’t forget to appreciate all the work done by those in the restaurant and food delivery industries. What better way to show our appreciation than by tipping generously when we can?</p>





    </div>
  </div>


</div>

{% endblock %}
