<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/styles.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">



      {% if title %}
      <title>{{ title }} - JHOPORTERWRITES</title>
      {% else %}
      <title>Welcome to JHOPORTERWRITES</title>
      {% endif %}
    </head>


    <body>
      <div class="topnav" id="myTopnav">
        <div class="topnav-left">Jho Porter Writes</div>
      </div>


        <div class="banner2">
          <img src="/static/ban1d.jpg" class="bgimage">
            <div class="bannernote">
              <div>Jho's Blog</div>
              <div id="description">
                Thoughts, Facts And Other Stuff
              </div>
              <div id="desc">
                <p>Thoughts</p>
                <p>Facts</p>
                <p>And Other Stuff</p>
              </div>
          </div>
        </div>




        <div class="blog-container">
          <div class="blog-box">
            <div class="blog-image-box"><img src="/static/pizza.jpg" class="blog-image"></div>
            <div class="blog-description-box">
              <div class="blog-description">
                <div class="admin">
                  <div><img src="/static/admin.png" class="admin-image"></div>
                  <div class="admin-text">
                    <p>Admin</p>
                    <p class="date">May 14</p>
                  </div>
                </div>
                <p class="blog-title">Ordering Takeout in a Pandemic: A Guide</p>
                <p class="blog-body">
                  Since quarantine began several weeks ago, many people have expressed their concerns about ordering takeout. Is it safe? Is it ethical?
                </p>



              </div>
            </div>
          </div>


          <div class="blog-box">
            <div class="blog-image-box"><img src="/static/pizza.jpg" class="blog-image"></div>
            <div class="blog-description-box">
              <div class="blog-description">
                <div class="admin">
                  <div><img src="/static/admin.png" class="admin-image"></div>
                  <div class="admin-text">
                    <p>Admin</p>
                    <p class="date">May 14</p>
                  </div>
                </div>
                <p class="blog-title">Ordering Takeout in a Pandemic: A Guide</p>
                <p class="blog-body">
                  Since quarantine began several weeks ago, many people have expressed their concerns about ordering takeout. Is it safe? Is it ethical?
                </p>



              </div>
            </div>
          </div>

        </div>






        <footer>
          <div class="copyright">
              © 2020 by Jho Porter
          </div>
        </footer>


        <script>
          function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
          }
        </script>

    </body>
</html>
