<div class="sample">
  <div><img src="/static/nicoleandazan2.jpg" class="sampleimage"></div>
  <div>
    <div class="sample-text">
      <div><h2>90 Day Fiancé's Most Lively Couples: Where Are They Now?</h2></div>

      <div class="p"><p>Ah, 90 Day Fiancé—the dumpster fire of a show that keeps fans wanting for more. With Season 7 being delayed due to the recent United States federal government shutdown, fans are at their wits’ end. Fortunately, we have 90 Day Fiancé: What Now? and 90 Day Fiancé: Happily Ever After? to keep us busy until the next season comes out. Speaking of Happily Ever After? (or Unhappily Ever After, whatever fits) if anyone’s wondering how the liveliest couples of the show have been doing, we got you...<p>
      <p></p>
      </div>

      <div class="readmore"><a href="https://screenrant.com/90-day-fiances-lively-couples-now/" target="_blank">Read more</a></div>
      <div class="viewmore"><a href="{{ url_for('samples') }}" target="_blank">View more samples</a>  </div>


    </div>
  </div>
</div>
