{% extends "layout.html" %}

{% block content %}
</div>

<div class="samplepagetext">
  SAMPLES
</div>

<div class="flex">
  <div class="sample">
    <div class="a">
      <div class="imagecontainer"><img src="static/myhero.jpg" width="300"></div>
      <div class="sample-text">
        <div><h2>15 Anime To Watch If You Like My Hero Academia</h2></div>

        <div class="p"><p>
             My Hero Academia has risen to become one of the most popular anime shows in recent years. And
             rightfully so—it tackles the superhero genre really well, has a good comedic atmosphere, knows when
             it’s time to get serious, has interesting characters with interesting abilities, and has thrilling, action-
             packed fight scenes. Not only that, but it also has a lot...
           </p>
        <p></p>
        </div>

        <div class="readmore"><a href="https://www.cbr.com/10-anime-to-watch-if-you-like-my-hero-academia/" target="_blank">Read more</a></div>
      </div>
    </div>
  </div>

  <div class="sample">
    <div class="a">
      <div class="imagecontainer"><img src="static/las-vegas.jpg" width="300"></div>
      <div class="sample-text">
        <div><h2>10 Best Free Things To Do In Las Vegas</h2></div>

        <div class="p"><p>
           Did you know it’s possible to have fun in Las Vegas without spending big bucks? Sure, a lot of people go there to blow a ridiculous amount of money on casinos, but Las Vegas isn’t only about the casinos. In fact, there are so many things to do and see in Sin City besides gambling and partying. Whether you’re going alone, as a couple, with friends...

           </p>
        <p></p>
        </div>

        <div class="readmore"><a href="https://screenrant.com/90-day-fiances-lively-couples-now/" target="_blank">Read more</a></div>
      </div>
    </div>
  </div>

</div>

<div class="flex">
  <div class="sample">
    <div class="a">
      <div class="imagecontainer"><img src="static/cats.jpeg" width="300"></div>
      <div class="sample-text">
        <div><h2>90 Day Fiancé's Most Lively Couples: Where Are They Now?</h2></div>

        <div class="p"><p>Ah, 90 Day Fiancé—the dumpster fire of a show that keeps fans wanting for more. With Season 7 being delayed due to the
           recent United States federal government shutdown, fans are at their wits’ end...
           recent United States federal government shutdown, fans are at their wits’ end...
           recent United States federal government shutdown, fans are at their wits’ end...<p>
        <p></p>
        </div>

        <div class="readmore"><a href="https://screenrant.com/90-day-fiances-lively-couples-now/" target="_blank">Read more</a></div>
      </div>
    </div>
  </div>

  <div class="sample">
    <div class="a">
      <div class="imagecontainer"><img src="static/cats.jpeg" width="300"></div>
      <div class="sample-text">
        <div><h2>90 Day Fiancé's Most Lively Couples: Where Are They Now?</h2></div>

        <div class="p"><p>Ah, 90 Day Fiancé—the dumpster fire of a show that keeps fans wanting for more. With Season 7 being delayed due to the
           recent United States federal government shutdown, fans are at their wits’ end...
           recent United States federal government shutdown, fans are at their wits’ end...
           recent United States federal government shutdown, fans are at their wits’ end...<p>
        <p></p>
        </div>

        <div class="readmore"><a href="https://screenrant.com/90-day-fiances-lively-couples-now/" target="_blank">Read more</a></div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
