{% extends "layout.html" %}

{% block content %}
</div>

<div class="samplepagetext">
  SAMPLES
</div>

<div class="flex">
  <div class="sample">
    <div class="a">
      <div class="imagecontainer"><img src="static/myhero.jpg" width="300"></div>
      <div class="sample-text">
        <div><h2>15 Anime To Watch If You Like My Hero Academia</h2></div>

        <div class="p">
          <div class="categories">Category: TV</div>
          <p>
             My Hero Academia has risen to become one of the most popular anime shows in recent years. And
             rightfully so—it tackles the superhero genre really well, has a good comedic atmosphere, knows when
             it’s time to get serious, has interesting characters with interesting abilities, and has thrilling, action-
             packed fight scenes. Not only that, but it also has a lot of emotional and “feel good” moments, drawing out a wide range of emotions from the viewers...
           </p>
        <p></p>
        </div>

        <div class="readmore"><a href="https://www.cbr.com/10-anime-to-watch-if-you-like-my-hero-academia/" target="_blank">Read more</a></div>
      </div>
    </div>
  </div>

  <div class="sample">
    <div class="a">
      <div class="imagecontainer"><img src="static/las-vegas.jpg" width="300"></div>
      <div class="sample-text">
        <div><h2>10 Best Free Things To Do In Las Vegas</h2></div>

        <div class="p">
          <div class="categories">Category: Travel</div>
          <p>
           Did you know it’s possible to have fun in Las Vegas without spending big bucks? Sure, a lot of people go there to blow a ridiculous amount of money on casinos, but Las Vegas isn’t only about the casinos. In fact, there are so many things to do and see in Sin City besides gambling and partying. Whether you’re going alone, as a couple, with friends or with the entire family, you’re sure to find something that will get you entertained. The great...

           </p>
        <p></p>
        </div>

        <div class="readmore"><a href="https://www.thetravel.com/las-vegas-free-activities-tourist-attractions/" target="_blank">Read more</a></div>
      </div>
    </div>
  </div>

</div>

<div class="flex">
  <div class="sample">
    <div class="a">
      <div class="imagecontainer"><img src="static/coffee.jpg" width="300" height="200"></div>
      <div class="sample-text">
        <div><h2>Maximizing The Effects Of Caffeine On Athletic Performance</h2></div>

        <div class="p">
          <div class="categories">Category: Educational</div>
          <p>
          The most widely consumed drug in the world, caffeine has been shown by numerous studies to have positive effects on sports performance. Even younger athletes ages 11-18 take caffeine to try and improve their athletic performance. But while the benefits of caffeine on sports performance are undeniable, these benefits are only reaped when caffeine is taken...

           </p>
        <p></p>
        </div>

        <div class="readmore"><a href="https://docs.google.com/document/d/1mkEneN0SBSoCA7fLMKnUDXzzJwI4HP9GTxBUsqrfXU0/edit?usp=sharing" target="_blank">Read more</a></div>
      </div>
    </div>
  </div>

  <div class="sample">
      <div class="a">
        <div class="imagecontainer"><img src="static/mothersday.png" width="300"></div>
        <div class="sample-text">
          <div><h2>10 DIY Gifts For Mother's Day</h2></div>

          <div class="p">

            <div class="categories">Category: Tips</div>
            <p>
              With Mother’s Day happening literally every year, finding the perfect gift for mom can be such a drag. Especially since she already seems to have everything that she needs, and she probably doesn’t want more stuff that she doesn’t need. But she’s one of the greatest people on earth so it’s only right that we get her something as special as she is. It’s easy to take a trip to the store and get her another one of those generic Mother’s Day gifts, but...
            </p>
          <p></p>
          </div>

          <div class="readmore"><a href="https://www.thetalko.com/diy-gifts-mothers-day/" target="_blank">Read more</a></div>

        </div>
      </div>
  </div>
</div>


{% endblock %}
