
<div class="flex">
  <div class="sample">
    <div class="a">
      <div class="imagecontainer"><img src="static/nicoleandazan.jpg" width="300"></div>
      <div class="sample-text">
        <div><h2>90 Day Fiancé's Most Lively Couples: Where Are They Now?</h2></div>

        <div class="p">

          <div class="categories">Category: Entertainment</div>

          <p>Ah, 90 Day Fiancé—the dumpster fire of a show that keeps fans wanting for more. With Season 7 being delayed due to the recent United States federal government shutdown, fans are at their wits’ end. Fortunately, we have 90 Day Fiancé: What Now? and 90 Day Fiancé: Happily Ever After?...</p>
        <p></p>
        </div>

        <div class="readmore"><a href="https://screenrant.com/90-day-fiances-lively-couples-now/" target="_blank">Read more</a></div>
        <div class="viewmore"><a href="{{ url_for('samples') }}" target="_blank">View more samples</a>  </div>
      </div>
    </div>
  </div>



  <div class="sample">
    <div class="a">
      <div class="imagecontainer"><img src="static/idea.jpg" width="300"></div>
      <div class="sample-text">
        <div><h2>5 Factors to Consider Before Hiring a Product Development Firm</h2></div>

        <div class="p">

          <div class="categories">Category: Business</div>

          <p>
            All the excellent products offered on the market today share one thing in common: before becoming a phenomenal hit, they underwent tremendous processes that came in various stages, including comprehensive research, in-depth analysis and rigorous tests...

          </p>
        <p></p>
        </div>

        <div class="readmore"><a href="https://docs.google.com/document/d/1LAWTJCoX4I9XJqyqpVs9RLMUmA3r7NQs_AQEtvTMOqk/edit?usp=sharing" target="_blank">Read more</a></div>
        <div class="viewmore"><a href="{{ url_for('samples') }}" target="_blank">View more samples</a>  </div>
      </div>
    </div>
  </div>
</div>

<div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
      {% for message in messages %}
      <li class="flashed">{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</div>

<div class="contact-index">
  <div class="summary">
    <div>
      <div>
        <p class="bigger">Email</p>
        <p>jhoporter@gmail.com</p>
      </div>
      <div>
        <p class="bigger">Skills</p>
        <p>8 years writing experience</p>
        <p>SEO | CMS | WordPress</p>
        <p>Research | Web Development</p>
        <p>Web Content | Blog Posts</p>
        <p>Long-form | Press Release</p>
        <p>Entertainment | Reviews</p>
        <p>Copywriting | Ghostwriting</p>
      </div>
    </div>
  </div>

  <div class="contact-form" id="contact">
    <div class="contact-text">Contact Me</div>
    <div class="form-group">{% include 'contact-form.html' %}</div>
  </div>
</div>
