{% extends "layout.html" %}

{% block content %}

<div class="article-container">
  <div class="article">

    <div class="article-title">Best Mid-Priced Studio Speakers: Yamaha HS7 Review</div>
    <div class="article-category">Category: Review, Technical</div>
    <div>
      <img src="/static/yamaha.png" class="article-image">
    </div>
    <div class="article-body">
      <p>Yamaha has set the standard for reasonably-priced monitoring speakers, with several of their speakers becoming extremely popular with recording engineers worldwide. They’re aiming to become the industry standard once again with their new HS model range. This range includes the impressive Yamaha HS7 studio speakers, which we’ve added to our list of the best monitoring speakers in the mid-price range. Before we tell you what there is to like about the Yamaha HS7, let’s take a quick look at the history of its predecessor, the Yamaha NS10.</p>

      <p>The Yamaha NS10 was launched in 1978 as a domestic hi-fi speaker, and many engineers initially described it as being just another bad-sounding home hi-fi speaker. But to the surprise of many sound engineers and audiophiles, the HS10 went on to become the industry standard--all thanks to Bob Clearmountain. The guy’s a reputable producer and engineer who’s worked on some of the largest projects the world has ever seen, and he has worked with Bruce Springteen, The Rolling Stones, Toto, Bon Jovi and many more. He realized that the NS10 had the ability to reveal shortcomings in recordings.</p>

      <p>Other recording engineers followed his lead, and soon it became a reference benchmark for a bad-sounding speaker, such that most recording studios around the world adopted the NS10 as their standard reference studio monitoring speakers. Other engineers that are known for using the NS10 include Rhett Davies, Nigel Jopson, and Bill Scheniman, as well as Grammy-awarded engineers Andy Wallace, Charles Dye, Dave Pensado, Brendan O’Brien and Tom & Chris Lord-Alge. The NS10 was later discontinued in 2001.</p>

      <p>While the new HS range is considered to be the NS10’s successors, it should be noted that they’re two very different speakers. The white cones may look similar, but the HS7 has so much more to offer than its predecessor. Speaker technology has come a long way since the original NS10 was released in 1978, and Yamaha have responded to the need to release a product that’s far superior to the original NS10 in order to be competitive in today’s studio monitoring speaker market.</p>

      <h2>Yamaha HS7 Features</h2>

      <p>Designed to reduce losses, the HS7’s 1” dome tweeter allows high-frequency details to come through with added accuracy. The tweeter frame is also built to reduce resonances that may interfere with high-end clarity. All these result in a remarkably accurate and smooth sounding response throughout the audio spectrum.</p>

      <p>You may already know this, but speaker response varies greatly depending on the shape, size and surface acoustics of the room the speakers are used in, as well as how they’re set up within that environment. Thanks to the HS7’s Room Control, Mid EQ and High Trim response control switches, you get extra speaker placement and versatility. These switches are also designed to make up for common acoustic shortcomings and monitoring needs.</p>

      <p>The Room Control (-0, -2 dB or -4dB from 500 Hz and below) switch can make up for the unnatural low-end exaggeration that can happen when the speaker is placed near a wall or in corners. The High Trim (-0 dB, +2 dB or -2dB from 2 kHz and above) switch provides the same kind of response-tailoring capability for the high frequencies. Lastly, the MID EQ switch provides you with a flat response and subtle midrange boost and cut options. While the rear mounted port is not desirable in smaller studios due to wall proximity effects, Yamaha have done their best to compensate for it.</p>

      <p>As for connectivity, the HS7 has XLR, TS and 1/4” TSR input that accept both balanced and unbalanced signals. It should be noted that the XLR and TSR connectors, which are labeled Input 1 and 2 respectively, cannot be used simultaneously.</p>

      <h2>Tips</h2>

      <p>If you need to set up the speaker closer than 4.5 ft to the back wall, you can try using the Room Control switch to reduce increases in bass.</p>

      <p>When teamed with a sub (should you decide you need even more bass), the HS7 works well when using the default 100Hz crossover setting.</p>

      <h2>Conclusion</h2>

      <p>Overall, the Yamaha HS7 is an impressive studio monitoring speaker. The sound is very natural and uncolored, which is perfect for achieving well balanced and neutral mixes. It’s small enough to be practical but large enough to pack enough bass punch to eliminate the need for a subwoofer. At its price level, it’s more than just a great choice for any ambitious musician, recording engineer, producer or DJ looking to upgrade.</p>






    </div>
  </div>


</div>

{% endblock %}
