{% extends "layout.html" %}

{% block content %}

<div class="article-container">
  <div class="article">

    <div class="article-title">Parcel Pending Unveils 1st Refrigerated Digital Smart Lockers</div>
    <div class="article-category">Category: Press Release</div>
    <div class="article-desc">
      <p>Parcel Pending’s new line will solve the growing demand for storage of temperature-sensitive packages and lockers in space-limited areas—a win for the industry.</p>
    </div>
    <div>
      <img src="/static/lockers.png" class="article-image" alt="lockers">
    </div>
    <div class="article-body">
      <p>Parcel Pending, a leading provider of comprehensive package management solutions, announces the addition of refrigerated and outdoor lockers to its existing digital lockers line. The state-of-the-art lockers aim to address the growing need for innovative lockers in multifamily properties where storage of residents' perishable parcels and diminishing indoor space for such lockers prove to be a massive challenge.</p>

      <p>Statistics indicate that in recent years, the significant surge in apartment living, coupled with the growth of online shopping, has had owners of apartment buildings and multifamily properties scrambling for ways to track and organize their residents' parcels. Today, landlords are struggling to de-clutter their indoor storage facility and preserve parcels that require specialized, temperature-controlled storage.</p>

      <p>"When it comes to package delivery, we are in the problem-solving business," says Parcel Pending CEO and Founder Lori Torres, underscoring the company's two new innovative lockers. Both of these will be presented at the National Apartment Association Education Conference and Expo in Atlanta from June 21 to 24, 2017.</p>

      <p>The first of its kind in the industry, the Parcel Pending refrigerated lockers are set to a temperature of 35 to 44 degrees Fahrenheit. In this climate-controlled storage system, food or beverage is chilled to maintain their freshness longer than gel packs and dry ice could. This is a breakthrough for property managers who need a place to keep their residents' temperature- sensitive goods intact and secured while waiting to be retrieved.</p>

      <p>"Our new refrigerated lockers are the result of listening to our customers and seeing the need to store temperature-sensitive goods," Parcel Pending CEO and Founder Lori Torres emphasizes. "These revolutionary new lockers allow property managers to focus on the resident, and not spoiled food and melting packages."</p>

      <p>The outdoor lockers, on the other hand, are made from weather-resistant materials that are ideal for properties with limited indoor spaces or a lack of a 24/7 communal area for residents. Packages can be stored safely in these lockers and residents can claim their damage-free parcels at any time.</p>

      <p>The first in the industry, the new line will definitely benefit a huge number of property owners, managers and residents.</p>

      <h3>About</h3>

      <p>Parcel Pending is in the business of providing total package management solutions for multiple unit residences, retail and universities throughout North America. Based in Irvine, California, the company is committed to delivering a comprehensive suite of digital smart lockers and excellent customer service to benefit property owners, managers and residents.</p>
    </div>






    </div>
  </div>


</div>

{% endblock %}
