{% extends "layout.html" %}

{% block content %}

<div class="article-container">
  <div class="article">

    <div class="article-title">Wean Your Baby With Fruits And Vegetables For Optimal Health And Growth</div>
    <div class="article-category">Category: Educational</div>
    <div>
      <img src="/static/baby.png" class="article-image" alt="baby eating">
    </div>
    <div class="article-body">

      <p>You know the saying “You are what you eat”? If you eat healthy, you can expect your body to be more resistant and tolerant to diseases. But if the food you eat lacks the nutrients your body needs, you’ll get sick a lot more frequently and also find it harder to function in your day-to-day life. This also holds true for your baby, which is why it’s important that you only feed them nutritious foods as much as possible. Not only does a healthy diet prevent early growth retardation, it also prevents malnutrition and the risk of infection. Additionally, nutritious foods maximize psychomotor development and, in the long term, prevent the development of some diseases when they become adults later in life. When your baby is ready to eat solid foods, feeding them fruits and vegetables is the way to go.</p>

      <h2>Best Solid Foods For Baby</h2>

      <p>The <a href="https://www.babycentre.co.uk/a25010527/first-foods-fruit-vs-vegetables" target="_blank">best first solid foods to introduce</a> to your baby are small pieces of cooked vegetables such as potato, sweet potato and butternut squash; and fruits such as avocado, apple, banana and pear. They’re what the NHS recommends since they’re easy for your baby to eat and digest. Vegetables that aren’t sweet should be included in your baby’s diet as well so they don’t grow up hating broccoli or spinach--both of which are nutrient-packed vegetables that kids love to hate.</p>

      <p>Instead of buying ready-made baby solid foods, try to make them from scratch as this is cheaper and healthier for your baby. Just remember to observe safe sanitation and food hygiene practices so as to not expose the little one to bacteria and other undesirable elements.</p>

      <h2>When  To Start</h2>

      <p>Babies are generally ready to eat solid foods <a href="https://kidshealth.org/en/parents/solid-foods.html" target="_blank">when they’re around 6 months old</a>. By this time their body will have developed enough to eat solid foods. They’ll be able to move the food around in their mouth and swallow with ease. But make sure to feed them a tiny amount of food at first then gradually increase the portion in smaller amounts.</p>

      <h2>How To Tell If They’re Ready</h2>

      <p>You’ll know when your baby is ready for solid foods when they’re able to steadily hold their head while in a sitting position; look at an object, grab it and put it in their mouth unassisted; and swallow food instead of spitting it out. But just because your baby is always wanting more milk and chewing on their fists doesn’t mean they’re ready--these are normal behaviors for their age. And one more thing: once they’re ready, don’t let them out of your sight during meal times. You never know when you’ve fed them something that’s a tad bit too big for them to swallow.</p>

      <p>Introducing solid foods to your baby is an exciting experience for both the baby and the family. When you feed your baby solid foods packed with nutrients, they’re bound to grow healthier and be less susceptible to disease.</p>



    </div>
  </div>


</div>

{% endblock %}
