{% extends "layout.html" %}

{% block content %}


<div class="samplepagetext">
  SAMPLES
</div>


<div class="blog-container">
  <div class="blog-box">
    <div class="blog-image-box"><img src="/static/tabletop.png" class="blog-image" alt="coffee"></div>
    <div class="blog-description-box">
      <div class="blog-description">

        <p class="blog-title"><a href="{{ url_for('tabletop') }}" target="_blank">Running Out Of Things To Do In Quarantine? We Got You</a></p>
        <p class="categories">Categories: Gaming, Technical, Computer</p>
        <div class="blog-body">
          Can you believe we're now in the second half of 2020? It has been almost four months...

          <p class="readmore"><a href="{{ url_for('tabletop') }}" target="_blank">Read more</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-image-box"><img src="/static/netflix.png" class="blog-image" alt="coffee"></div>
    <div class="blog-description-box">
      <div class="blog-description">

        <p class="blog-title"><a href="{{ url_for('generatepassive') }}" target="_blank">Generating Passive Income Through Continuity Marketing</a></p>
        <p class="categories">Category: Business</p>
        <div class="blog-body">
          If you Google how to make money online, the results are virtually endless. There are tons of online resources that...

          <p class="readmore"><a href="{{ url_for('generatepassive') }}" target="_blank">Read more</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-image-box"><img src="/static/coffee.png" class="blog-image" alt="coffee"></div>
    <div class="blog-description-box">
      <div class="blog-description">

        <p class="blog-title"><a href="{{ url_for('coffee') }}" target="_blank">Maximizing The Effects Of Caffeine On Athletic Performance</a></p>
        <p class="categories">Category: Educational</p>
        <div class="blog-body">
          The most widely consumed drug in the world, caffeine has been shown by numerous studies to have positive effects...

          <p class="readmore"><a href="{{ url_for('coffee') }}" target="_blank">Read more</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-image-box"><img src="/static/las-vegas.jpg" class="blog-image" alt="Las Vegas Strip"></div>
    <div class="blog-description-box">
      <div class="blog-description">

        <p class="blog-title"><a href="https://www.thetravel.com/las-vegas-free-activities-tourist-attractions/" target="_blank">10 Best Free Things To Do In Las Vegas</a></p>
        <p class="categories">Category: Travel</p>
        <div class="blog-body">
          Did you know it’s possible to have fun in Las Vegas without spending big bucks? Sure, a lot of people go there to blow a...


          <p class="readmore"><a href="https://www.thetravel.com/las-vegas-free-activities-tourist-attractions/" target="_blank">Read more</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-image-box"><img src="/static/happy.png" class="blog-image" alt="woman enjoying the outdoors"></div>
    <div class="blog-description-box">
      <div class="blog-description">

        <p class="blog-title"><a href="{{ url_for('productivity') }}" target="_blank">Productivity Hacks to Help You Get More Done</a></p>
        <p class="categories">Category: Self-Improvement</p>
        <div class="blog-body">
            Everyone wants to be productive. Everyone wants to achieve the results they desire. But how can you produce these intended...


          <p class="readmore"><a href="{{ url_for('productivity') }}" target="_blank">Read more</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-image-box"><img src="/static/yamaha.png" class="blog-image"></div>
    <div class="blog-description-box">
      <div class="blog-description">

        <p class="blog-title"><a href="{{ url_for('yamaha') }}" target="_blank">Best Mid-Priced Studio Speakers: Yamaha HS7 Review</a></p>
        <p class="categories">Categories: Review, Technical</p>
        <div class="blog-body">
          Yamaha has set the standard for reasonably-priced monitoring speakers, with several of their speakers becoming extremely...


          <p class="readmore"><a href="{{ url_for('yamaha') }}" target="_blank">Read more</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-image-box"><img src="/static/myhero.jpg" class="blog-image" alt="My Hero Academia characters"></div>
    <div class="blog-description-box">
      <div class="blog-description">

        <p class="blog-title"><a href="https://www.cbr.com/10-anime-to-watch-if-you-like-my-hero-academia/" target="_blank">15 Anime To Watch If You Like My Hero Academia</a></p>
        <p class="categories">Category: TV</p>
        <div class="blog-body">
          My Hero Academia has risen to become one of the most popular anime shows in recent years. And rightfully so—it tackles the...


          <p class="readmore"><a href="https://www.cbr.com/10-anime-to-watch-if-you-like-my-hero-academia/" target="_blank">Read more</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-image-box"><img src="/static/lockers.png" class="blog-image" alt="lockers"></div>
    <div class="blog-description-box">
      <div class="blog-description">

        <p class="blog-title"><a href="{{ url_for('parcel') }}" target="_blank">Parcel Pending Unveils 1st Refrigerated Digital Smart Lockers</a></p>
        <p class="categories">Category: Press Release</p>
        <div class="blog-body">
          Parcel Pending, a leading provider of comprehensive package management solutions, announces the addition of refrigerated and...


          <p class="readmore"><a href="{{ url_for('parcel') }}" target="_blank">Read more</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-image-box"><img src="/static/babyeating.png" class="blog-image" alt="baby eating"></div>
    <div class="blog-description-box">
      <div class="blog-description">

        <p class="blog-title"><a href="{{ url_for('wean') }}" target="_blank">Wean Your Baby With Fruits And Vegetables For Optimal Health And Growth</a></p>
        <p class="categories">Category: Educational</p>
        <div class="blog-body">
          You know the saying “You are what you eat”? If you eat healthy, you can expect your body to be more resistant and tolerant to...

          <p class="readmore"><a href="{{ url_for('wean') }}" target="_blank">Read more</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-image-box"><img src="/static/mothersday.jpg" class="blog-image" alt="Mother's Day banner"></div>
    <div class="blog-description-box">
      <div class="blog-description">

        <p class="blog-title"><a href="https://www.thetalko.com/diy-gifts-mothers-day/" target="_blank">10 DIY Gifts For Mother's Day</a></p>
        <p class="categories">Category: Tips</p>
        <div class="blog-body">
          With Mother’s Day happening literally every year, finding the perfect gift for mom can be such a drag. Especially since she...

          <p class="readmore"><a href="https://www.thetalko.com/diy-gifts-mothers-day/" target="_blank">Read more</a></p>
        </div>
      </div>
    </div>
  </div>



</div>

<div class="copyright">
    © 2020 by Jho Porter
</div>


{% endblock %}
