<div class="blog-container">
  <div class="blog-box">
    <div class="blog-image-box"><img src="/static/nicoleandazan.jpg" class="blog-image" alt="Nicole and Azan"></div>
    <div class="blog-description-box">
      <div class="blog-description">

        <p class="blog-title"><a href="https://screenrant.com/90-day-fiances-lively-couples-now/" target="_blank">90 Day Fiancé's Most Lively Couples: Where Are They Now?</a></p>
        <p class="categories">Category: Entertainment</p>
        <div class="blog-body">
          Ah, 90 Day Fiancé—the dumpster fire of a show that keeps fans wanting for more. With Season 7 being delayed due to...
          <p class="readmore"><a href="https://screenrant.com/90-day-fiances-lively-couples-now/" target="_blank">Read more</a></p>
        </div>
        <div class="viewmore"><a href="{{ url_for('samples') }}" target="_blank">View more samples</a></div>

      </div>
    </div>
  </div>

  <div class="blog-box">
    <div class="blog-image-box">
      <a href="https://pixabay.com/photos/idea-light-bulb-creative-3310390/" target="_blank"><img src="/static/idea.png" class="blog-image" alt="laptop"></a>
    </div>

    <div class="blog-description-box">
      <div class="blog-description">

        <p class="blog-title"><a href="{{ url_for('hiringproduct') }}" target="_blank">5 Factors to Consider Before Hiring a Product Development Firm</a></p>
        <p class="categories">Category: Business</p>
        <div class="blog-body">
          All the excellent products offered on the market today share one thing in common: before becoming a phenomenal hit, they...
          <p class="readmore"><a href="{{ url_for('hiringproduct') }}" target="_blank">Read more</a></p>
        </div>
        <div class="viewmore"><a href="{{ url_for('samples') }}" target="_blank">View more samples</a></div>

      </div>
    </div>
  </div>

</div>





<div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
      {% for message in messages %}
      <li class="flashed">{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</div>

<div class="contact-index">
  <div class="summary">
    <div>
      <div>
        <p class="bigger">Email</p>
        <p>jhoporter@gmail.com</p>
      </div>
      <div>
        <p class="bigger">Skills</p>
        <p>8 years writing experience</p>
        <p>SEO | CMS | WordPress</p>
        <p>Research | Web Development</p>
        <p>Web Content | Blog Posts</p>
        <p>Long-form | Press Release</p>
        <p>Entertainment | Reviews</p>
        <p>Copywriting | Ghostwriting</p>
      </div>
    </div>
  </div>

  <div class="contact-form" id="contact">
    <div class="contact-text">Contact Me</div>
    <div class="form-group">{% include 'contact-form.html' %}</div>
  </div>
</div>
