{% extends "layout.html" %}

{% block content %}

<div class="article-container">
  <div class="article">

    <div class="article-title">Running Out Of Things To Do In Quarantine? We Got You</div>
    <div class="article-category">Categories: Gaming, Technical, Computer</div>

    <div class="image-container">
      <img src="/static/tabletop.png" class="article-image">
      <div class="caption">Image by <a href="https://pixabay.com/users/peggychoucair-1130890/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3978841" target="_blank">Peggy Choucair</a></div>

    </div>

    <div class="article-body">
      <p>Can you believe we're now in the second half of 2020? It has been almost four months (more for others) since we've started quarantine in America. Time has really flown—but at the same time, it's also been almost unbearably slow.</p>
      <p>When you're stuck at home for days on end and no longer going out regularly, whether to go to work or school, or run errands, your perception of time gets weird. You're probably also running out of novel things to do in quarantine. Unfortunately, when you Google what to do in quarantine, it's always the same 10 things or so.</p>
      <p>If you're like most of us whose attention span is as short as a fruit fly and who're always quick to move on the next new thing, perhaps you'd enjoy something that offers enough things to keep you busy for weeks, possibly even months. Something like Tabletop Simulator.</p>
      <p>Never heard of Tabletop Simulator before? Just think of it as a tabletop—like the actual top of a table. Just like the name says, Tabletop Simulator is a computer program that simulates a tabletop. It sounds underwhelming, until you learn that it comes with many of the games you've played on a table growing up. And all this for the price of one.</p>
      <h2>Games on Tabletop Simulator</h2>
      <p>There's so much to do on the simulator that if every single one is mentioned here, this post would get longer than you're willing to read, and we don't want to overwhelm you like that. Instead, we’re listing down familiar and popular games you could play on it.</p>
        <ul class="article-list">
        <li>jigsaw puzzles</li>
        <li>backgammon</li>
        <li>checkers</li>
        <li>chess</li>
        <li>dominoes</li>
        <li>cult favorites that can be bought as DLC packages</li>
        <li>and popular games that we can't mention because of a legal gray area: games that were recreated by fans and not the companies themselves</li>
      <p></p>
      <p>If you're interested in knowing what these games are, a quick Google would suffice, but if your Googling skills are less than ideal, Dicebreaker.com has made a list of the <a href="https://www.dicebreaker.com/topics/tabletop-simulator/best-games/best-tabletop-simulator-mods" target="_blank">17 best Tabletop Simulator mods for popular board games</a>.</p>
      <h2>How It Works</h2>
      <p>Once you have the software, all you'll really need to do after creating an account is make a room—or more accurately, a server—to play any of the available games, then invite other players to play with you. In case it's not obvious enough, every person you invite should have their own Tabletop Simulator, too.</p>
      <p>By the way, it's important that you check the system requirements before purchasing the simulator. You don't need to have a gaming computer, but there are minimum requirements your computer has to meet to ensure that every component goes smoothly and your computer doesn't repeatedly crash.</p>
      <div class="article-image-div">
        <img src="/static/ttop-1.png" class="in-article-image">
      </div>
      <h2>Downloading Steam</h2>
      <p>Before you can get the simulator, you'll actually need to do this important step first: Download and install Steam on your computer. You can think of Steam as some sort of app that'll let you download all sorts of games and stuff, much like how Google Play or the Apple App Store lets you find and download games.</p>
      <p>Installing Steam opens a new door of opportunities for finding games you might enjoy playing on your pc or laptop. Having Steam alone gives you access to a wide variety of things to do in quarantine—you won't even need to get Tabletop Simulator, but that's a different story for another day. Some of the games here you can download for free, but others you'll need to buy.</p>
      <p>Once you have an account on Steam, search Tabletop Simulator and buy the game. Normally it costs $19.99, but it goes on sale every now and then. Right now, it's actually 50% off so you can get it for $9.99. If you're not bored out of your mind yet or willing to shell out more than $2 for an app, just check Steam daily until the simulator is at the price you're willing to pay.</p>
      <h2>Getting Tabletop Simulator</h2>
      <p>The first thing you need to do once you're logged in is go to Store.</p>
      <div class="article-image-div">
        <img src="/static/ttop-2.png" class="in-article-image">
      </div>
      <p>Here, you can type Tabletop Simulator in the search box.</p>
      <div class="article-image-div">
        <img src="/static/ttop-3.png" class="in-article-image">
      </div>
      <p>Clicking on it will take you to the Tabletop Simulator page. Add it to your cart...</p>
      <div class="article-image-div">
        <img src="/static/ttop-4.png" class="in-article-image">
      </div>
      <p>Then buy it!</p>
      <div class="article-image-div">
        <img src="/static/ttop-5.png" class="in-article-image">
      </div>
      <p>You'll still need to install it after buying it. You can go back to Library and right-click (or double-click, whatever works) on it then click Install.</p>
      <div class="article-image-div">
        <img src="/static/ttop-6.png" class="in-article-image">
      </div>
      <p>Congrats, you now have unlocked an insane number of things to do in quarantine.</p>
      <h2>Using Tabletop Simulator</h2>
      <p>To start, you either create a server—think of it as an online gaming room—or accept an invitation to play.</p>
      <div class="article-image-div">
        <img src="/static/ttop-7.png" class="in-article-image">
      </div>
      <p>If you're creating the server yourself, you need to provide a few things. First, the server name. Then you have to pick the server type. If you're going with Public, you might want to set a password so random Internet strangers can't join your session.</p>
      <div class="article-image-div">
        <img src="/static/ttop-8.png" class="in-article-image">
      </div>
      <p>Once you create a room, you can start inviting players to join—but they have to be your friends on Steam for them to be able to join. The Invite Players icon is right under your username at the top right corner.</p>
      <div class="article-image-div">
        <img src="/static/ttop-9.png" class="in-article-image">
      </div>
      <p>To add friends, just go back to Steam, click on Friends then click on Add a Friend.</p>
      <div class="article-image-div">
        <img src="/static/ttop-10.png" class="in-article-image">
      </div>
      <p>Your friends will get a notification when they receive an invite. They can just click on that and enter the password, if any, to join the game.</p>
      <p>It sounds a little complicated and requires some effort, but once you get the hang of it, you won't run out of things to do in quarantine (for a few months, at least).</p>
      <h2>Other Things to Note</h2>
      <p>Once you and your friends figure it out, you'll probably want to start a game immediately. But just because you want to start playing doesn't mean you will. See, the simulator works just like how you would play games in real life, except you’re using a mouse or trackpad and clicking on a few keys. You have to pick up game pieces, drag them around and do other stuff with them. Or you have to roll a dice. These things require a little bit of practice and experimentation, so if you're playing for the first time, make sure you set some time for playing around with the simulator.</p>




    </div>
  </div>


</div>

{% endblock %}
